In [2]:
print("here")
print("hello")

here
hello

In [4]:
name = "sravan"

# indentation

if name == "sravan":
    print(name)

for i in range(10):
    print(f"index:{i}, value:{i*2}")
print("here")
    # print(i)

sravan
index:0, value:0
index:1, value:2
index:2, value:4
index:3, value:6
index:4, value:8
index:5, value:10
index:6, value:12
index:7, value:14
index:8, value:16
index:9, value:18
here

In [7]:
# strings

char = "c"
variable = "Boom_boom_boom" #14 # 10 

count = 0
for element in variable:
    count+=1
    print(element, count)

print(len(variable))

B 1
o 2
o 3
m 4
_ 5
b 6
o 7
o 8
m 9
_ 10
b 11
o 12
o 13
m 14

In [11]:
variable  = "dallas"


variable.upper()
variable.isupper()

False

In [12]:
variable = "Dallas"

variable.lower()
variable.islower()

False

In [14]:
# f strings
def mul(x1, x2):
    return x1 * x2
# 
# x = 0
# def test(x, y):
#     x= x+y # 
    # print(x)


# local variable  and global variable
# print(x)
# test(3, 4)
# print(x)
# print(output)

0
0

In [16]:
n = 6
for i in range(1, 11):
    # print(n, "*", i, mul(n, i))
    print(f"{n} * {i} = {mul(n, i)}") # f string

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [17]:
variable  = "dallas"
variable.capitalize()

'Dallas'

In [18]:
variable = "rocky bhai"
variable.capitalize()

'Rocky bhai'

In [37]:
variable  = "Dallas is the best place to enjoy, Dallas is hot, Dallas is humid"

In [38]:
variable.replace("Dallas", "NY") # string replacement

'NY is the best place to enjoy, NY is hot, NY is humid'

In [35]:
k = variable.split("/")
# print(variable.strip())
print(variable.count("a"))
print(variable.count("l"))
print(k)

3
3
['Dallas is the best place to enjoy']

In [39]:
# check if a word is lower if it is lower make it capital

names = ["Sravan", "suchith", "sukesh", "Snehitha", "daniel"]
new_list = ["Sravan", "Suchith", "Sukesh", "Snehitha", "Daniel"]

In [43]:
numbers = [1, 2, 3, 4, 5, 6]
n_list = [] # empty list 
# how do we add elements into the list append()
for i in range(len(numbers)):
    number = numbers[i]
    n_list.append(number)
print(numbers)
print(n_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [40]:
# python version 

"""
for 
    if :
     
        making to captialize 
        appendig it into the new list
    else:
        append new_list
    
    
 """

In [52]:
def table_(number, n):
    for i in range(1, n+1):
        print(f"{number}* {i} = {n*i}")

In [53]:
table = int(input("Entere the table number:"))
range_of_the_table = int(input("enter the range"))


table_(table, range_of_the_table)
# print(table, range_of_the_table)

15* 1 = 199
15* 2 = 398
15* 3 = 597
15* 4 = 796
15* 5 = 995
15* 6 = 1194
15* 7 = 1393
15* 8 = 1592
15* 9 = 1791
15* 10 = 1990
15* 11 = 2189
15* 12 = 2388
15* 13 = 2587
15* 14 = 2786
15* 15 = 2985
15* 16 = 3184
15* 17 = 3383
15* 18 = 3582
15* 19 = 3781
15* 20 = 3980
15* 21 = 4179
15* 22 = 4378
15* 23 = 4577
15* 24 = 4776
15* 25 = 4975
15* 26 = 5174
15* 27 = 5373
15* 28 = 5572
15* 29 = 5771
15* 30 = 5970
15* 31 = 6169
15* 32 = 6368
15* 33 = 6567
15* 34 = 6766
15* 35 = 6965
15* 36 = 7164
15* 37 = 7363
15* 38 = 7562
15* 39 = 7761
15* 40 = 7960
15* 41 = 8159
15* 42 = 8358
15* 43 = 8557
15* 44 = 8756
15* 45 = 8955
15* 46 = 9154
15* 47 = 9353
15* 48 = 9552
15* 49 = 9751
15* 50 = 9950
15* 51 = 10149
15* 52 = 10348
15* 53 = 10547
15* 54 = 10746
15* 55 = 10945
15* 56 = 11144
15* 57 = 11343
15* 58 = 11542
15* 59 = 11741
15* 60 = 11940
15* 61 = 12139
15* 62 = 12338
15* 63 = 12537
15* 64 = 12736
15* 65 = 12935
15* 66 = 13134
15* 67 = 13333
15* 68 = 13532
15* 69 = 13731
15* 70 = 13930
15* 71 = 14129
15* 72 = 14328
15* 73 = 14527
15* 74 = 14726
15* 75 = 14925
15* 76 = 15124
15* 77 = 15323
15* 78 = 15522
15* 79 = 15721
15* 80 = 15920
15* 81 = 16119
15* 82 = 16318
15* 83 = 16517
15* 84 = 16716
15* 85 = 16915
15* 86 = 17114
15* 87 = 17313
15* 88 = 17512
15* 89 = 17711
15* 90 = 17910
15* 91 = 18109
15* 92 = 18308
15* 93 = 18507
15* 94 = 18706
15* 95 = 18905
15* 96 = 19104
15* 97 = 19303
15* 98 = 19502
15* 99 = 19701
15* 100 = 19900
15* 101 = 20099
15* 102 = 20298
15* 103 = 20497
15* 104 = 20696
15* 105 = 20895
15* 106 = 21094
15* 107 = 21293
15* 108 = 21492
15* 109 = 21691
15* 110 = 21890
15* 111 = 22089
15* 112 = 22288
15* 113 = 22487
15* 114 = 22686
15* 115 = 22885
15* 116 = 23084
15* 117 = 23283
15* 118 = 23482
15* 119 = 23681
15* 120 = 23880
15* 121 = 24079
15* 122 = 24278
15* 123 = 24477
15* 124 = 24676
15* 125 = 24875
15* 126 = 25074
15* 127 = 25273
15* 128 = 25472
15* 129 = 25671
15* 130 = 25870
15* 131 = 26069
15* 132 = 26268
15* 133 = 26467
15* 134 = 26666
15* 135 = 26865
15* 136 = 27064
15* 137 = 27263
15* 138 = 27462
15* 139 = 27661
15* 140 = 27860
15* 141 = 28059
15* 142 = 28258
15* 143 = 28457
15* 144 = 28656
15* 145 = 28855
15* 146 = 29054
15* 147 = 29253
15* 148 = 29452
15* 149 = 29651
15* 150 = 29850
15* 151 = 30049
15* 152 = 30248
15* 153 = 30447
15* 154 = 30646
15* 155 = 30845
15* 156 = 31044
15* 157 = 31243
15* 158 = 31442
15* 159 = 31641
15* 160 = 31840
15* 161 = 32039
15* 162 = 32238
15* 163 = 32437
15* 164 = 32636
15* 165 = 32835
15* 166 = 33034
15* 167 = 33233
15* 168 = 33432
15* 169 = 33631
15* 170 = 33830
15* 171 = 34029
15* 172 = 34228
15* 173 = 34427
15* 174 = 34626
15* 175 = 34825
15* 176 = 35024
15* 177 = 35223
15* 178 = 35422
15* 179 = 35621
15* 180 = 35820
15* 181 = 36019
15* 182 = 36218
15* 183 = 36417
15* 184 = 36616
15* 185 = 36815
15* 186 = 37014
15* 187 = 37213
15* 188 = 37412
15* 189 = 37611
15* 190 = 37810
15* 191 = 38009
15* 192 = 38208
15* 193 = 38407
15* 194 = 38606
15* 195 = 38805
15* 196 = 39004
15* 197 = 39203
15* 198 = 39402
15* 199 = 39601

In [47]:
numbers = [1, 2, 3,4, 5, 6, 6,6,6,6]
numbers.extend([78, 79, 10]) # to two lists 
print(numbers)

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 78, 79, 10]

In [54]:
# for i in range(0, 2, 100): # read
#     print(i)

0

In [55]:
def func(n):
    return n
print(func())

TypeError: func() missing 1 required positional argument: 'n'